<template>
  <div class="base-card"  style="overflow-x:auto;">
    <h3 class="info-title">{{title}}</h3>
    <table class="card-table">
      <thead>
        <tr>
          <th style="min-width: 200px" v-for="header of headers" :key="header">
              {{ header }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of items" :key="`item${index}`">
          <td v-for="(value, key, idx) of item" :key="`value${idx}`">
              {{ value }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>

export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    headers: {
      type: Array,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.info-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
  }
.card-table {
  margin-top: 1.5rem;
  width: 100%;
  border-collapse: collapse;

  th {
    text-align: left;
    color: #a7a7a7;
    font-size: 14px;
    line-height: 150%;
    text-transform: uppercase;
  }

  td {
    border-top: 1px solid #f4f4f4;
    color: #222222;
    font-weight: normal;
  }

  th,
  td {
    padding: 10px;
  }

  th + th,
  td + td {
    border-left: #f4f4f4 1px solid;
  }

  tbody > tr:hover {
    background: #f6f4fc;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }

  tbody > tr {
    position: relative;

    .show-more {
      position: absolute;
      right: 1em;
      top: 0.45em;
      color: #4825c2;

      top: 20%;
      right: 1em;
      opacity: 0;

      display: flex;
      align-items: center;

      img {
        margin-left: 0.4em;
        margin-top: 0.2em;
      }
    }

    &:hover {
      .show-more {
        opacity: 1;
      }
    }
  }
}
</style>
