<template>
  <div class="base-card info-card">
    <h4 class="info-title"> Hisob kitob </h4>

    <div class="d-flex justify-between">
      <div>
        <div class="info">
          <p class="info-key">Mijoz hisobi:</p>
          <p class="info-value">{{ balance }} so`m</p>
        </div>
        <div class="info">
          <p class="info-key">Mijoz qarzi:</p>
          <p class="info-value">{{ balance }} so`m</p>
        </div>
      </div>
      <div>
        <div class="info">
          <p class="info-key">Tarif (summa) - IPU bilan</p>
          <p class="info-value">{{ meter }}</p>
        </div>
        <div class="info">
          <p class="info-key">Tarif (miqdor) - IPU - isitishsiz</p>
          <p class="info-value">{{ heating }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    balance: {
      type: Number,
      default: 0,
    },
    debt: {
      type: Number,
      default: 0,
    },
    meter: {
      type: Number,
      default: 0,
    },
    heating: {
      type: Number,
      default: 0,
    },
  },
};
</script>

<style lang="scss" scoped>
.info-card {
  width: 100%;
  height: min-content;
  .info-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
  }

  .info {
    margin-top: 20px;
    &-key {
      font-size: 0.9rem;
    }

    &-value {
      font-family: "poppins-bold", "inter-bold";
      // font-weight: bold;
    }
  }
}
</style>
