<template>
  <div>
    <div class="d-flex base-card">
      <div>
        <select v-model="activeCadastr" class="base-select">
          <option
          :value="cadastr"
          v-for="cadastr of $store.state.cadastrs"
          :key="cadastr">{{ cadastr }}</option>
        </select>
      </div>
      <v-date-picker v-model="date.start">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="base-datepicker-input"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <v-date-picker v-model="date.end" style="margin-left: 1rem">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="base-datepicker-input"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <button
          @click="getItems"
          class="btn btn-primary action"
          style="max-width: 21%; margin-left: 1em;"
        >Yuklash</button>
    </div>
    <Card
      :balance="info.balance"
      :debt="info.debt"
      :meter="info.meter"
      :heating="info.heating" style="margin-top: 1em" />
    <div style="margin-top: 1em">
      <BaseTable title="OSV" :headers="osvHeaders" :items="osvItems" />
    </div>
    <div style="margin-top: 1em">
      <BaseTable title="Normativ" :headers="normativHeaders" :items="normativItems" />
    </div>
  </div>
</template>

<script>
import DatePicker from 'v-calendar/lib/components/date-picker.umd';
import BaseTable from './BaseTable.vue';
import Card from './Card.vue';

export default {
  components: {
    BaseTable,
    Card,
    'v-date-picker': DatePicker,
  },
  data() {
    return {
      osvHeaders: [
        'Elektron To`lovlar',
        'Hisob-kitob davri',
        'Hisoblash',
        'Jarima miqdori va tuzatishlar',
        'Davr oxiridagi qoldiq',
        'To`lovlar',
        'penya',
        'Davr boshidagi qoldiq',
        "MUNIS orqali amalga oshirilgan to'lov miqdori",
      ],
      normativHeaders: [
        'Isitish moslamalari soni',
        'heat_app_charge',
        'Isitish kubik quvvati',
        'Umumiy standart gaz sarfi',
        'Oziq-ovqat tayyorlash uchun standart gaz sarfi',
        "Hisoblash turi (1 - IPU bo'yicha, 0 - IPUsiz)",
        'Vaqt(gacha)',
        'Yashovchilar soni',
        'Ovqat pishirish moslamalari soni',
        'IPU tomonidan umumiy gaz sarfi',
        'Vaqt (dan)',
      ],
      normativItems: [],
      osvItems: [],
      info: {},

      date: {
        start: new Date().setMonth(new Date().getMonth() - 1), // one month back from now
        end: new Date(),
      },
      items: [],

      item: null,
      osv: [],
      normativ: [],
      munis_payments: [],

      cadastrs: [],
      activeCadastr: this.$store.state.cadastrs[0],
    };
  },
  mounted() {
    this.getItems();

    if (this.$store.state.type === 'legal') {
      this.$store.dispatch('getCadByPinpp');
    }
  },

  methods: {
    formatDate(date) {
      const d = new Date(date);
      return `${d.getFullYear()}-${(`0${d.getMonth() + 1}`).slice(-2)}-${(`0${d.getDate()}`).slice(-2)}`;
    },
    async getItems() {
      const loader = this.$loading.show();

      const fromDate = this.formatDate(this.date.start);
      const toDate = this.formatDate(this.date.end);

      const params = {
        brunch_code: '12',
        from_date: fromDate,
        to_date: toDate,
        // cad_number: '10:08:07:02:03:5015:0001:008',
        cad_number: this.$store.state.cadastrs[0],
      };
      const result = await this.$getItems('getGasByCadNum', params);

      const response = result.data;
      console.log('response');
      console.log(response);
      if (Array.isArray(response.osv)) {
        this.osvItems = response.osv;
      } else if (typeof response.osv === 'object') {
        this.osvItems.push(response.osv);
      }

      if (Array.isArray(response.normativ)) {
        this.normativItems = response.normativ;
      } else if (typeof response.normativ === 'object') {
        this.normativItems.push(response.normativ);
      }

      this.info = {
        balance: response.balance_customer,
        debt: response.penya,
        meter: response.tariff_meter,
        heating: response.tariff_heating,
      };

      loader.hide();

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },
  },
};
</script>
