<template>
  <div>
    <div class="d-flex base-card">
      <div>
        <select class="base-select" v-model="activeCadastr">
          <option
          :value="cadastr"
          v-for="cadastr of $store.state.cadastrs"
          :key="cadastr">{{ cadastr }}</option>
        </select>
      </div>
      <v-date-picker v-model="date.start">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="base-datepicker-input"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <v-date-picker v-model="date.end" style="margin-left: 1rem">
        <template v-slot="{ inputValue, inputEvents }">
          <input
            class="base-datepicker-input"
            :value="inputValue"
            v-on="inputEvents"
          />
        </template>
      </v-date-picker>
      <button
          @click="handleItems"
          class="btn btn-primary action"
          style="max-width: 21%; margin-left: 1em;"
        >Yuklash</button>
    </div>
    <div class="base-card" style="margin-top: 2em">
      Ushbu sanalara oralig`idagi <strong>Elektr energiyasi</strong>
      uchun sizning hisobingiz: <strong>{{ debt }} so`m</strong>
    </div>
  </div>
</template>

<script>
import DatePicker from 'v-calendar/lib/components/date-picker.umd';

export default {
  components: {
    'v-date-picker': DatePicker,
  },
  data() {
    return {
      date: {
        end: new Date(),
        start: new Date().setMonth(new Date().getMonth() - 1), // one month back from now
      },
      items: [],
      debt: 0,
      cadastrs: [],
      activeCadastr: this.$store.state.cadastrs[0],
    };
  },
  mounted() {
    this.handleItems();

    if (this.$store.state.type === 'legal') {
      this.$store.dispatch('getCadByPinpp');
    }
  },
  methods: {
    formatDate(date) {
      const d = new Date(date);
      return `${d.getFullYear()}-${(`0${d.getMonth() + 1}`).slice(-2)}-${(`0${d.getDate()}`).slice(-2)}`;
    },
    async handleItems() {
      const loader = this.$loading.show();

      const fromDate = this.formatDate(this.date.start);
      const toDate = this.formatDate(this.date.end);

      const params = {
        brunch_code: '123',
        from_date: fromDate,
        to_date: toDate,
        cad_number: this.activeCadastr,
      };
      const result = await this.$getItems('eEnergy', params);
      const response = result.data;
      this.debt = response.debt;
      loader.hide();

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },
  },
};
</script>
