html {
    scroll-behavior: smooth;
}
.btn {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;

    transition: 0.10s;
}

.btn-secondary {
    background: var(--gray);
    color: #000000;
}

.btn-primary {
    background: var(--primary);
    color: #FFFFFF;
}

input {
    background: var(--gray);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 20px;
    width: 100%;
}

label + input {
    margin-top: 5px;
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 92%;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 75%;
    }
}

.text-primary {
    color: var(--primary);
}

.fw-bold {
    font-family: 'poppins-bold', 'inter-bold' !important;
}

.base-select {
    width: 150px;
    height: 100%;
    border-radius: 10px;
    border: none;
    background: var(--gray);
    padding: 0 0.3em;
    margin-right: 1em;
}