.base-card {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 20px;

    width: 100%;
    height: min-content;
}

.card-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
}

.card-info {
    margin-top: 20px;
}

.card-key {
    font-size: 0.9rem;
}

.card-value {
    font-family: "poppins-bold", "inter-bold";
}