@font-face {
    font-family: 'poppins';
    src: url('../font/Poppins-Regular.ttf')  format('truetype')
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../font/Poppins-Bold.ttf')  format('truetype')
}

@font-face {
    font-family: 'inter';
    src: url('../font/Inter-Regular.ttf')  format('truetype')
}

@font-face {
    font-family: 'inter-bold';
    src: url('../font/Inter-Bold.ttf')  format('truetype')
}

