.vm--modal {
    padding: 40px;
    background: #FFFFFF;
    border-radius: 20px;

    width: 25% !important;
    top: 50% !important;
    left: 50% !important;
    height: auto !important;

    transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
    .vm--modal {
        width: 40% !important;
    }
}

@media (max-width: 820px) {
    .vm--modal {
        width: 60% !important;
    }
}

@media (max-width: 450px) {
    .vm--modal {
        width: 90% !important;
    }
}