.awn-toast-wrapper {
    background: #ffffff;
    border: none;
  }

  .round {
    border-radius: 50%;
    background: #E2F4E8;
    padding: 10px;
    color: #40871d;
  }
  .warning {
    border-radius: 50%;
    padding: 10px;
    background-color: #FFE9E9;
    color:var(--red);
    font-size: 18px;    
  }

  .awn-toast-progress-bar::after {
    height: 3px;
    overflow-x: hidden;    
  }

  .awn-toast.awn-toast-success {
    background: #dff8d3;
    color: #000000;
    font-family: metropolis-semi-bold;
  }
  .awn-toast.awn-toast-warning {
    background: #dff8d3;
    color: #000000;
    font-family: metropolis-semi-bold;
  }

  .awn-toast.awn-toast-alert {
    background: #dff8d3;
    color: #000000;
    font-family: metropolis-semi-bold;
  }

  .awn-toast-content {
    word-break: break-word;
    margin-left: 46px;
    width:100%;
  }

  .awn-toast-icon {
    position: absolute;
    left: 16px;
    top: 6px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
