* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}
  
body {
    background: #E5E5E5;
}
