<template>
    <div class="base-card hause-card">
        <h2 class="hause-title">Umumiy</h2>
        <div class="hause-container">
            <div class="hause-lhs">
                <div class="info" v-if="owner.name">
                    <p class="info-key">Egasi</p>
                    <p class="info-value">{{ owner.name }}</p>
                </div>
                <div class="info" v-if="owner.share">
                    <p class="info-key">Ulushi</p>
                    <p class="info-value">{{ owner.share }}</p>
                </div>

                <div class="sub-info">
                    <h4 class="hause-title">Notarial</h4>
                    <div class="sub-data" v-if="notarial.num">
                        <p class="data-key">Raqami</p>
                        <p class="data-value">{{ notarial.num }}</p>
                    </div>
                    <div class="sub-data" v-if="notarial.doc">
                        <p class="data-key">Sana</p>
                        <p class="data-value">{{ notarial.doc }}</p>
                    </div>
                    <div class="sub-data" v-if="notarial.owner">
                        <p class="data-key">Idora</p>
                        <p class="data-value">{{ notarial.owner }}</p>
                    </div>
                </div>
            </div>
            <div class="hause-rhs">
                <div class="info" v-if="address.region">
                    <p class="info-key">Hudud</p>
                    <p class="info-value">{{ address.region }}</p>
                </div>
                <div class="info" v-if="address.district">
                    <p class="info-key">Tuman</p>
                    <p class="info-value">{{ address.district }}</p>
                </div>
                <div class="info" v-if="address.extra">
                    <p class="info-key">Manzil</p>
                    <p class="info-value">{{ address.extra }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  props: {
    owner: {
      type: Object,
      required: true,
    },
    address: {
      type: Object,
      required: true,
    },
    notarial: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.hause-card {
    height: auto;

    .hause-title {
        color: var(--primary);
        font-family: "poppins-bold", "inter-bold";
    }

    .hause-container {
        display: flex;

        .hause-lhs, .hasue-rhs {
            width: 49%;
        }
    }

    .info {
        margin-top: 20px;
        &-key {
            font-size: 0.9rem;
        }

        &-value {
            font-family: "poppins-bold", "inter-bold";
            // font-weight: bold;
        }
    }

    .sub-info {
        margin-top: 20px;

        .sub-data {
            margin-top: 10px;
            margin-left: 20px;

            .data-key {
                font-size: 0.9rem;
            }

            .data-value {
                font-family: "poppins-bold", "inter-bold";
                // font-weight: bold;
            }
        }
    }
}
</style>
