<template>
    <div class="hause-container">
      <HauseCard
          class="single-hause"
          v-for="(item, index) of items" :key="`hause${index}`"
          :owner="item.owner"
          :address="item.address"
          :notarial="item.notarial"
          />
      <Loading :active.sync="isLoading" />
    </div>
</template>

<script>
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

export default {
  components: {
    Loading,
    HauseCard: () => import(/* webpackChunkName: "userInfo" */ './Card.vue'),
  },
  data() {
    return {
      isLoading: false,
      items: [],
      generals: [],
      general: [],
      host: [],
    };
  },
  async mounted() {
    if (this.$store.state.type === 'legal') {
      this.getCadByPinpp();
    } else {
      this.handleCadastr();
    }
  },
  methods: {
    async getCadByPinpp() {
      let legalCadastrsInfo = sessionStorage.getItem('legalCadastrsInfo');

      if (legalCadastrsInfo) {
        legalCadastrsInfo = JSON.parse(legalCadastrsInfo);

        this.items = legalCadastrsInfo.map((item) => ({
          owner: {
            name: '',
            // eslint-disable-next-line no-underscore-dangle
            share: item?.subjects?._CadastreSubjects?.[0]?.percent,
          },
          address: {
            region: item?.region,
            district: item?.district,
            extra: item?.address,
          },
          notarial: {
            num: '',
            doc: item?.date,
            // eslint-disable-next-line no-underscore-dangle
            owner: item?.subjects?._CadastreSubjects?.[0]?.name,
          },
        }));
      } else {
        // eslint-disable-next-line no-underscore-dangle
        const loader = this.$loading.show();
        const inn = sessionStorage.getItem('inn');
        const params = {
          time: '2021-01-20 11:00:00',
          cad_type: 1,
          leTin: inn,
        };

        // eslint-disable-next-line no-underscore-dangle
        const response = await this.$getItems('getCadByPinpp', params);

        if (response) {
          sessionStorage.setItem('legalCadastrsInfo', JSON.stringify(response));
          this.items = response.map((item) => ({
            owner: {
              name: '',
              // eslint-disable-next-line no-underscore-dangle
              share: item?.subjects?._CadastreSubjects?.[0]?.percent,
            },
            address: {
              region: item?.region,
              district: item?.district,
              extra: item?.address,
            },
            notarial: {
              num: '',
              doc: item?.date,
              // eslint-disable-next-line no-underscore-dangle
              owner: item?.subjects?._CadastreSubjects?.[0]?.name,
            },
          }));
        }

        loader.hide();

        setTimeout(() => {
          loader.hide();
        }, 7000);
      }
    },

    async handleCadastr() {
      const loader = this.$loading.show();
      const pinpp = sessionStorage.getItem('pinpp');

      const { cadastrs } = this.$store.state;

      sessionStorage.setItem('cadastrs', JSON.stringify(cadastrs));

      await this.getHauses(cadastrs, pinpp);

      loader.hide();

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },

    async getHauses(cadastrs, pinpp) {
      // eslint-disable-next-line no-restricted-syntax
      for (const cadastr of cadastrs) {
        const param = {
          pinpp,
          cad_number: cadastr,
          time: '2021-01-20 11:00:00',
          cad_type: 0,
        };
        // eslint-disable-next-line no-await-in-loop
        const item = await this.$getItems('getCadBanInfo', param);

        const result = item?.data[0]?.data;
        console.log('result');
        console.log(result);

        const info = {
          owner: {
            name: `${result?.hosts[0]?.fname}`,
            share: result?.hosts[0]?.part,
          },
          address: {
            region: result?.address?.region?.name,
            district: result?.address?.district?.name,
            extra: result?.location,
          },
          notarial: {},
        };

        console.log('info');
        console.log(info);

        if (result?.b_land_docs) {
          info.notarial = {
            num: result?.b_land_docs[0].num,
            doc: result?.b_land_docs[0].date,
            owner: result?.b_land_docs[0].owner,
          };
        } else if (result?.land_docs) {
          info.notarial = {
            num: result?.num,
            doc: result?.doc,
            owner: result?.owner,
          };
        }
        this.items.push(info);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
    .single-hause + .single-hause {
        margin-top: 20px;
    }
</style>
