<template>
    <div class="base-card">
        <h2 class="card-title">{{ title }}</h2>

        <div class="card-info">
            <div class="card-key">Mamlakat</div>
            <div class="card-value">{{ country }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Hudud</div>
            <div class="card-value">{{ region }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Tuman</div>
            <div class="card-value">{{ district }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Manzil</div>
            <div class="card-value">{{ address }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Kadastr</div>
            <div class="card-value">{{ cadastr }}</div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Manzil',

      country: '',
      region: '',
      district: '',
      address: '',
      cadastr: '',
    };
  },
  mounted() {
    this.handleData();
  },
  methods: {
    initialize(item) {
      console.log('salom123');
      console.log(item);
      this.country = item.Country?.Value;
      this.region = item.Region?.Value;
      this.district = item.District?.Value;
      this.address = item.Address;
      this.cadastr = item.Cadastre;
    },

    async handleData() {
      const item = sessionStorage.getItem('address');

      let address = {};
      if (item) {
        address = JSON.parse(item);
      } else {
        const params = {
          passSerialNumber: sessionStorage.getItem('passport'),
          pinpp: sessionStorage.getItem('pinpp'),
        };

        const result = await this.$getItems('getPersonAddress', params);
        address = result.data.Data;

        sessionStorage.setItem('address', JSON.stringify(address));
      }
      this.initialize(address.PermanentRegistration);
    },
  },
};
</script>
