<template>
    <div class="general-container">
      <div class="general-lhs">
        <Info />
        <Position style="margin-top: 20px" />
      </div>
      <div class="general-rhs">
        <Address />
      </div>
    </div>
</template>

<script>
import Info from './Info.vue';
import Position from './Position.vue';
import Address from './Address.vue';

export default {
  components: {
    Info,
    Position,
    Address,
  },
  created() {
    this.handleCadastrs();
    this.handleLegalData();
  },

  methods: {
    async handleLegalData() {
      const passSerialNumber = sessionStorage.getItem('passport');
      const pinpp = sessionStorage.getItem('pinpp');

      const params = {
        queryId: '234',
        passSerialNumber,
        pinpp,
      };

      const response = await this.$getItems('getLeData', params);
      if (response && Object.keys(response).length !== 0 && response.legalData) {
        sessionStorage.setItem('legalData', JSON.stringify(response.legalData[0]));
        this.$store.commit('SET_LEGAL_DATA', response.legalData[0]);
      }
    },
    async handleCadastrs() {
      const pinpp = sessionStorage.getItem('pinpp');

      const params = {
        queryId: '156',
        pinpp,
        time: '2021-01-20 11:00:00',
        cad_type: 0,
      };

      const response = await this.$getItems('getCadNumber', params);
      const cadastrs = response?.data?.cadastr_list?.string || [];

      sessionStorage.setItem('cadastrs', JSON.stringify(cadastrs));
      this.$store.commit('SET_CADASTRS', cadastrs);
    },
  },
};
</script>

<style lang="scss" scoped>
.general-container {
  display: flex;
  justify-content: space-between;

  .general-lhs,
  .general-rhs {
    width: 48%;
  }

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 20px;

    .general-lhs,
    .general-rhs {
      width: 100%;
    }
  }
}
</style>
