<template>
    <div class="base-card">
        <h2 class="card-title">{{ title }}</h2>

        <div class="card-info">
            <div class="card-key">Familiya, ism va sharifi</div>
            <div class="card-value">{{ getFullname }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Tug`ilgan sanasi</div>
            <div class="card-value">{{ birthDate }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Millati</div>
            <div class="card-value">{{ nationality }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Pasport</div>
            <div class="card-value">{{ passport }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Davlat</div>
            <div class="card-value">{{ country }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Pasport berilgan joy</div>
            <div class="card-value">{{ passportPlace }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Pasport berilgan sana</div>
            <div class="card-value">{{ passportDate }}</div>
        </div>
        <div class="card-info">
            <div class="card-key">Pasport amal qilish muddati</div>
            <div class="card-value">{{ passportEndDate }}</div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Umumiy ma`lumot',

      firstName: '',
      lastName: '',
      middleName: '',

      birthDate: null,
      nationality: '',
      country: '',
      passport: '',
      passportPlace: '',
      passportDate: '',
      passportEndDate: '',
    };
  },
  computed: {
    getFullname() {
      return `${this.lastName} ${this.firstName} ${this.middleName}`;
    },
  },
  mounted() {
    this.initialize();
  },
  methods: {
    initialize() {
      let response = sessionStorage.getItem('passportData');

      if (response) {
        response = JSON.parse(response);
        this.passport = response.document;

        this.firstName = response.name_latin;
        this.lastName = response.surname_latin;
        this.middleName = response.patronym_latin;

        this.birthDate = response.birth_date;
        this.nationality = response.nationality;
        this.country = response.citizenship;
        this.passportPlace = response.doc_give_place;
        this.passportDate = response.date_begin_document;
        this.passportEndDate = response.date_end_document;
      }
    },
  },
};
</script>
