<template>
    <div class="base-card">
        <h2 class="card-title">{{ title }}</h2>

        <div v-for="(item, index) of items" :key="`position${index}`">
            <div class="card-info">
                <div class="card-key">Tashkilot nomi</div>
                <div class="card-value">{{ item.companyName }}</div>
            </div>
            <div class="card-info">
                <div class="card-key">Lavozimi</div>
                <div class="card-value">{{ item.positionName }}</div>
            </div>
            <div class="card-info">
                <div class="card-key">Ish boshlagan sana</div>
                <div class="card-value">{{ item.startDate }}</div>
            </div>
            <div class="card-info">
                <div class="card-key">Tashkilot manzili</div>
                <div class="card-value">{{ item.companyAddress }}</div>
            </div>

            <br />
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'Ish joyi',

      items: [],
    };
  },
  mounted() {
    this.handleData();
  },
  methods: {
    initialize(positions) {
      // eslint-disable-next-line no-restricted-syntax
      for (const position of positions) {
        this.items.push({
          companyName: position.company_name,
          positionName: position.position_name,
          companyAddress: position.workplace_address,
          startDate: position.start_date,
        });
      }
    },
    async handleData() {
      const items = sessionStorage.getItem('positions');

      let positions = {};
      if (items) {
        positions = JSON.parse(items);
      } else {
        const params = {
          passSerialNumber: sessionStorage.getItem('passport'),
          pinpp: sessionStorage.getItem('pinpp'),
        };

        const response = await this.$getItems('getCitizenHistoryPositions', params);
        positions = response?.data?.data?.experiences || [];

        sessionStorage.setItem('positions', JSON.stringify(positions));
      }
      this.initialize(positions);
    },
  },
};
</script>
