<template>
  <div class="card base-card">
      <div class="card-avatar">
          <i class="ri-user-line"></i>
      </div>
      <p class="card-title"> {{title}} </p>
      <button class="btn btn-secondary" @click="$emit('open')"> Boshlash </button>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.card {
    // width: 226px;
    // max-width: 100%;
    width: 100%;
    height: min-content;

    &-avatar {
        background-color: var(--primary);
        font-size: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        width: 70px;
        height: 70px;

        color: #FFFFFF;
        font-family: 20px;
        padding: 20px;
    }

    &-title {
        margin-top: 20px;
        font-family: 'poppins-bold', 'inter-bold';
        margin-bottom: 20px;
    }

    button:hover {
        background-color: var(--primary);
        color: #FFFFFF;
    }

    transition: 0.37s;
    &:hover {
      transform: translateY(-10px);
    }
}
</style>
