<template>
  <div>
      <div class="enter-container">
        <EnterCard
          class="enter-card"
          title="Jismoniy shaxs"
          @open="openModal('Jismoniy shaxs', CARD_TYPES.physical)"
        />
        <EnterCard
          class="enter-card"
          title="Yuridik shaxs"
          @open="openModal('Yuridik shaxs', CARD_TYPES.legal)"
        />
    </div>

    <BaseModal ref="baseModalRef" />

  </div>
</template>

<script>
import EnterCard from '@/components/Card/index.vue';
import BaseModal from '@/components/BaseModal.vue';
import CARD_TYPES from '@/components/Card/types';

export default {
  components: {
    EnterCard,
    BaseModal,
  },
  data() {
    return {
      CARD_TYPES,
    };
  },
  methods: {
    openModal(title, type) {
      this.$refs.baseModalRef.open(title, type);
    },
  },
};
</script>

<style lang="scss" scoped>
.enter-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .enter-card {
    width: 45%;

    @media (max-width: 450px) {
      width: 100%;
    }
  }
}
</style>
