<template>
  <div>
    <modal name="my-first-modal" @closed="modalClosed">
      <h2 class="modal-title">{{ title }}</h2>

      <form class="modal-form" @submit.prevent="submit">
        <!-- YURIDIK ENTITY -->
        <div v-if="type == CARD_TYPES.legal">
          <label>STIR</label>
          <input
            :style="`${isInnError ? 'border: 1px solid red' : ''}`"
            type="text" id="innInput" v-model="form.inn" />
          <transition name="bounce">
              <p
              v-if="isInnError"
              style="color: red; font-size: 14px"
              >{{ form.inn ? 'Ma`lumot xato kiritildi' : 'Ma`lumotni kiriting' }}</p>
            </transition>
        </div>

        <!-- PHYSICAL ENTITY -->
        <div v-if="type == CARD_TYPES.physical">
          <div>
            <label>Pasport yoki ID-karta seriya va raqami</label>
            <input
            :style="`${isPassportError ? 'border: 1px solid red' : ''}`"
            type="text"
            id="passportInput"
            v-model="form.passport" />
            <transition name="bounce">
              <p
              v-if="isPassportError"
              style="color: red; font-size: 14px"
              >{{ form.passport ? 'Ma`lumot xato kiritildi' : 'Ma`lumotni kiriting' }}</p>
            </transition>
          </div>
          <div>
            <label>JShShIR (PINFL)</label>
            <input
              :style="`${isPnflError ? 'border: 1px solid red' : ''}`"
              type="text"
              id="pnflInput"
              v-model="form.pnfl"
            />
            <transition name="bounce">
              <p v-if="isPnflError" style="color: red; font-size: 14px">
                {{ form.pnfl ? 'Ma`lumot xato kiritildi' : 'Ma`lumotni kiriting' }}
              </p>
            </transition>
          </div>
        </div>

        <button class="btn btn-primary action">Yuklash</button>
      </form>
    </modal>
    <Loading :active.sync="isLoading" />
  </div>
</template>

<script>
import CARD_TYPES from '@/components/Card/types';
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';

import AWN from 'awesome-notifications';
import 'awesome-notifications/dist/style.css';

import Inputmask from 'inputmask';

export default {
  components: {
    Loading,
  },
  data() {
    return {
      isPnflError: false,
      isPassportError: false,
      isInnError: false,
      anySubmittion: false,

      title: '',
      type: null,
      CARD_TYPES,

      isLoading: false,

      form: {
        // passport: 'AA1446218',
        // pnfl: '30101620550137',

        // inn: '205866772',
        passport: 'AB5423136',
        pnfl: '30312935590017',

        inn: '',
        techPassport: '',
        kadastr: '',
      },
    };
  },
  watch: {
    'form.passport': function () {
      const input = document.getElementById('passportInput');
      if (input.inputmask) {
        const unmaskedValue = input.inputmask.unmaskedvalue();

        if (this.anySubmittion && unmaskedValue.length === 9) {
          this.isPassportError = false;
        } else if (this.anySubmittion && unmaskedValue.length !== 9) {
          this.isPassportError = true;
        }
      }
    },
    'form.pnfl': function () {
      const input = document.getElementById('pnflInput');
      if (input.inputmask) {
        const unmaskedValue = input.inputmask.unmaskedvalue();

        if (this.anySubmittion && unmaskedValue.length === 14) {
          this.isPnflError = false;
        } else if (this.anySubmittion && unmaskedValue.length !== 14) {
          this.isPnflError = true;
        }
      }
    },
    'form.inn': function () {
      const input = document.getElementById('innInput');
      if (input.inputmask) {
        const unmaskedValue = input.inputmask.unmaskedvalue();

        if (this.anySubmittion && unmaskedValue.length === 9) {
          this.isInnError = false;
        } else if (this.anySubmittion && unmaskedValue.length !== 9) {
          this.isInnError = true;
        }
      }
    },
  },
  methods: {
    validatePassport() {
      const input = document.getElementById('passportInput');
      if (input.inputmask) {
        const unmaskedValue = input.inputmask.unmaskedvalue();

        if (this.anySubmittion && unmaskedValue.length === 9) {
          this.isPassportError = false;
        } else if (this.anySubmittion && unmaskedValue.length !== 9) {
          this.isPassportError = true;
        }
      }
    },
    validatePnfl() {
      const input = document.getElementById('pnflInput');
      if (input.inputmask) {
        const unmaskedValue = input.inputmask.unmaskedvalue();

        if (this.anySubmittion && unmaskedValue.length === 14) {
          this.isPnflError = false;
        } else if (this.anySubmittion && unmaskedValue.length !== 14) {
          this.isPnflError = true;
        }
      }
    },
    modalClosed() {
      this.anySubmittion = false;
      this.isInnError = false;
      this.isPnflError = false;
      this.isPassportError = false;

      this.form.inn = '';
      this.form.passport = '';
      this.form.pnfl = '';
    },
    notify() {
      const options = {};
      options.position = 'top-right';
      options.animationDuration = 300;
      options.labels = {
        alert: '',
      };
      options.durations = {
        global: 3000,
      };

      options.icons = {
        prefix: '<i class="ri-error-warning-line warning"',
        suffix: '"/>',
      };

      const notifier = new AWN(options);
      notifier.alert('Ma`lumot topilmadi');
    },
    async submit() {
      this.anySubmittion = true;

      try {
        if (this.type === CARD_TYPES.legal) {
          await this.getLegalData();
        } else {
          try {
            let anyError = false;
            const input = document.getElementById('passportInput');
            const passportUnmaskedValue = input.inputmask.unmaskedvalue();

            const input2 = document.getElementById('pnflInput');
            const pnflUnmaskedValue = input2.inputmask.unmaskedvalue();

            if (passportUnmaskedValue.length !== 9) {
              this.isPassportError = true;

              anyError = true;
            }

            if (pnflUnmaskedValue.length !== 14) {
              this.isPnflError = true;

              anyError = true;
            }

            if (anyError) {
              return;
            }

            this.isLoading = true;

            const param = {
              passSerialNumber: passportUnmaskedValue,
              pinpp: pnflUnmaskedValue,
            };

            sessionStorage.setItem('passport', passportUnmaskedValue);
            sessionStorage.setItem('pinpp', pnflUnmaskedValue);

            const result = await this.$getItems('getPersonData', param);

            const generalInfo = result.data;
            if (generalInfo
              && Object.keys(generalInfo).length === 0
              && generalInfo.constructor === Object
            ) {
              this.notify();
              return;
            }

            if (generalInfo?.passportData) {
              sessionStorage.setItem('passportData', JSON.stringify(generalInfo.passportData));
            }

            if (generalInfo?.photoBase64) {
              sessionStorage.setItem('photoBase64', JSON.stringify(generalInfo.photoBase64));
            }

            sessionStorage.setItem('type', 'physical');
            this.$store.commit('SET_TYPE', 'physical');

            this.$router.push('/home');
          } catch (error) {
            this.form.inn = '';
            this.form.passport = '';
            this.form.pnfl = '';

            this.notify();
            this.$router.push('/');
            console.log('error', error);
          }
        }
      } catch (error) {
        console.log('error');
        console.log(error);
      } finally {
        this.isLoading = false;
      }
    },

    async getLegalData() {
      const input = document.getElementById('innInput');
      const unmaskedValue = input.inputmask.unmaskedvalue();

      if (unmaskedValue.length !== 9) {
        this.isInnError = true;
        return;
      }
      const loader = this.$loading.show();
      const params = {
        inn: unmaskedValue,
      };
      const response = await this.$getItems('legalByInn', params);

      sessionStorage.setItem('inn', unmaskedValue);

      loader.hide();
      let isResponseEmpty = true;
      // eslint-disable-next-line no-restricted-syntax
      for (const key in response) {
        if (Object.hasOwnProperty.call(response, key)) {
          const element = response[key];
          if (element) {
            isResponseEmpty = false;
          }
        }
      }

      if (isResponseEmpty) {
        this.notify();
        return;
      }

      if (response) {
        sessionStorage.setItem('legalData', JSON.stringify(response));
        this.$store.commit('SET_LEGAL_DATA', response);

        sessionStorage.setItem('type', 'legal');
        this.$store.commit('SET_TYPE', 'legal');

        this.$router.push('/home/legal');
      }

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },

    async getCadByPinpp() {
      const loader = this.$loading.show();

      const params = {
        time: '2021-01-20 11:00:00',
        cad_type: 1,
        leTin: this.form.inn,
      };

      await this.$getItems('getCadByPinpp', params);

      loader.hide();

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },

    open(title, type) {
      this.title = title;
      this.type = type;
      this.$modal.show('my-first-modal');

      setTimeout(() => {
        if (type === CARD_TYPES.legal) {
          const selector = document.getElementById('innInput');
          Inputmask({ regex: '[0-9]{9}' }).mask(selector);
        } else {
          const selector = document.getElementById('passportInput');
          Inputmask({ regex: '[A-Z]{2}[0-9]{7}' }).mask(selector);

          const selector2 = document.getElementById('pnflInput');
          Inputmask({ regex: '[0-9]{14}' }).mask(selector2);
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.bounce-enter-active {
  animation: bounce-in .1s;
}
.bounce-leave-active {
  animation: bounce-in .1s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
</style>

<style lang="scss" scoped>
.modal-form {
  div:first-of-type {
    margin-top: 40px;
  }
  div:last-of-type {
    margin-top: 20px;
  }

  .action {
    margin-top: 40px;
  }
}

.modal-title {
  font-family: "poppins-bold", "inter-bold";
  color: var(--primary);
}
</style>
