<template>
  <div class="section">
    <div @click="toggle"
      style="cursor: pointer;"
      ref="collapsibleRef" class="d-flex align-center justify-between">
        <slot class="collapsible" name="title"></slot>
        <i class="ri-arrow-down-s-line controller" :class="{'open': open}"></i>
    </div>
    <div class="content">
        <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      open: false,
    };
  },
  methods: {
    toggle() {
      const element = this.$refs.collapsibleRef;
      const content = element.nextElementSibling;
      this.open = !this.open;

      if (content.style.maxHeight) {
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = `${content.scrollHeight}px`;
      }
    },
  },
};
</script>

<style scoped>
.collapsible {
  color: white;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

i.controller {
    transition: 0.37s;
}

.open {
    transform: rotate(180deg);
}
</style>
