<template>
  <aside class="base-navigation base-card">
      <div class="user-avatar" :style="avatar ? '' : 'border: 1px solid var(--primary)'">
          <img  :src="avatar" alt="No Photo" />
      </div>
      <nav>
          <ul>
              <li v-if="$store.state.type !== 'legal'">
                  <router-link to="/home/general" class="link">
                    <i class="ri-information-line"></i>
                    <span>Umumiy ma`lumot</span>
                  </router-link>
              </li>
              <li style="position: relative">
                  <router-link to="/home/applications" class="link">
                    <i class="ri-file-copy-line"></i>
                    <span>Mening arizalarim</span>
                  </router-link>
              </li>
              <li>
                  <router-link to="/home/info" class="link">
                    <i class="ri-notification-3-line"></i>
                    <span>Xabarnoma</span>
                  </router-link>
              </li>
              <li>
                  <router-link to="/home/payment-history" class="link">
                    <i class="ri-history-line"></i>
                    <span>To’lovlar tarixi</span>
                  </router-link>
              </li>
              <li>
                  <router-link to="/home/car" class="link">
                    <i class="ri-roadster-line"></i>
                    <span>Avtomobil</span>
                  </router-link>
              </li>
              <li>
                  <router-link to="/home/hause" class="link">
                    <i class="ri-home-4-line"></i>
                    <span>Uy-joy</span>
                  </router-link>
              </li>
              <li v-if="$store.state.legalData">
                  <router-link to="/home/legal" class="link">
                    <i class="ri-user-follow-line"></i>
                    <span>Yuridik ma`lumotlar</span>
                  </router-link>
              </li>

              <li>
                <Collapse>
                  <template v-slot:title>
                    <div class="link d-flex align-center">
                      <i class="ri-bank-card-line"></i>
                      <span class="ml-1">Kommunal</span>
                    </div>
                  </template>
                  <div>
                    <router-link to="/home/gas" class="link">
                      <i class="ri-fire-line"></i>
                      <span>Gaz</span>
                    </router-link>
                    <router-link to="/home/energy" class="link">
                      <i class="ri-lightbulb-flash-line"></i>
                      <span>Elektr to`ki</span>
                    </router-link>
                  </div>
                </Collapse>
              </li>

              <br />
              <li>
                  <div @click="logout" style="cursor: pointer;" class="link link--danger">
                    <i class="ri-logout-box-line"></i>
                    <span>Chiqish</span>
                  </div>
              </li>
          </ul>
      </nav>
  </aside>
</template>

<script>
import Collapse from '@/components/Collapse.vue';

export default {
  components: {
    Collapse,
  },
  data() {
    return {
      avatar: '',
    };
  },
  mounted() {
    const userPhoto = sessionStorage.getItem('photoBase64');

    let image = '';
    if (userPhoto) {
      image = `data:image/png;base64,${userPhoto.replaceAll('"', '').replace(/\\n/g, '')}`;
      // try {
      //   const a =
      // userPhoto.match('(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)');
      //   if (Array.isArray(a) && a.length > 0) {
      //     image = `data:image/png;base64,${a[0]}`;
      //   }
      // } catch (error) {
      //   image = `data:image/png;base64,${userPhoto.replaceAll('"', '').replace(/\\n/g, '')}`;
      // }
    }

    this.avatar = image;
  },
  methods: {
    logout() {
      sessionStorage.clear();
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" scoped>

.base-navigation {
    width: 100%;
    position: relative;

    .user-avatar {
        width: 99px;
        height: 99px;
        border-radius: 10px;

        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

            // transition: 0.37s;

            // &:hover {
            //     transform: scale(1.1);
            // }
        }
    }

    nav {
        margin-top: 20px;
    }

    .link {
        padding: 1.2em;
        display: flex;
        align-items: center;

        span {
            margin-left: 1em;
            font-family: 'poppins-bold', 'inter-bold';
            font-size: 0.9rem;
        }

        &--danger {
            color: red;
        }

    }

    .router-link-exact-active {
        background-color: rgba(27, 102, 243, 0.1);
        border-radius: 10px;

        span, i {
            color: var(--primary);
        }
    }
}
</style>
