<template>
  <div class="base-card info-card">
    <h2 class="info-title">{{ title }}</h2>

    <div class="info" v-for="(info, index) of infos" :key="index">
      <p class="info-key">{{ info.key }}</p>
      <p class="info-value">{{ info.value }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true,
    },
    infos: {
      type: Array,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.info-card {
  width: 100%;
  height: min-content;
  .info-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
  }

  .info {
    margin-top: 20px;
    &-key {
      font-size: 0.9rem;
    }

    &-value {
      font-family: "poppins-bold", "inter-bold";
      // font-weight: bold;
    }
  }
}
</style>
