<template>
  <div>
      <div class="base-card info-card">
        <h4 class="info-title"> Umumiy ma`lumotlar </h4>

        <div class="info" v-if="info.headname">
            <p class="info-key">Boshliq:</p>
            <p class="info-value">{{ info.headname }}</p>
        </div>
        <div class="info" v-if="info.name">
            <p class="info-key">Nomi:</p>
            <p class="info-value">{{ info.name }}</p>
        </div>
        <div class="info" v-if="info.address">
            <p class="info-key">Manzil:</p>
            <p class="info-value">{{ info.address }}</p>
        </div>
        <div class="info" v-if="info.capital">
            <p class="info-key">Kapital:</p>
            <p class="info-value">{{ info.capital }}</p>
        </div>
        <div class="info" v-if="info.email">
            <p class="info-key">Email:</p>
            <p class="info-value">{{ info.email }}</p>
        </div>
        <div class="info" v-if="info.owner">
            <p class="info-key">Egalik:</p>
            <p class="info-value">{{ info.owner }}</p>
        </div>
        <div class="info" v-if="info.type">
            <p class="info-key">Turi:</p>
            <p class="info-value">{{ info.type }}</p>
        </div>
        <div class="info" v-if="info.target">
            <p class="info-key">Vazifasi:</p>
            <p class="info-value">{{ info.target }}</p>
        </div>
        <div class="info" v-if="info.subject">
            <p class="info-key">Qo`shimcha:</p>
            <p class="info-value">{{ info.subject }}</p>
        </div>
        <div class="info" v-if="info.company">
            <p class="info-key">Kompaniya:</p>
            <p class="info-value">{{ info.company }}</p>
        </div>
        <div class="info" v-if="info.founder">
            <p class="info-key">Ta`sischi:</p>
            <p class="info-value">{{ info.founder }}</p>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      info: {
        headname: '',
        email: '',
        address: '',
        capital: '',
        name: '',
        type: '',
        target: '',
        owner: '',
        subject: '',
      },
    };
  },
  mounted() {
    setTimeout(() => {
      this.initInfo();
    });
    if (this.$store.state.type === 'legal') {
      // this.getCadByPinpp();
      this.handleCadastrs();
    }
  },
  methods: {
    async getCadByPinpp() {
      const loader = this.$loading.show();
      const inn = sessionStorage.getItem('inn');
      const params = {
        time: '2021-01-20 11:00:00',
        cad_type: 1,
        leTin: inn,
      };

      const response = await this.$getItems('getCadByPinpp', params);

      sessionStorage.setItem('legalCadastrs', JSON.stringify(response));
      loader.hide();

      setTimeout(() => {
        loader.hide();
      }, 7000);
    },
    async handleCadastrs() {
      const inn = sessionStorage.getItem('inn');

      const params = {
        queryId: '156',
        leTin: inn,
        time: '2021-01-20 11:00:00',
        cad_type: 1,
      };

      const response = await this.$getItems('getCadNumber', params);
      const cadastrs = response?.data.cadastr_list?.string || [];

      sessionStorage.setItem('cadastrs', JSON.stringify(cadastrs));
      this.$store.commit('SET_CADASTRS', cadastrs);
    },
    initInfo() {
      const legal = this.$store.state.legalData;

      this.info.headname = legal.headnm || legal.HEAD_NM;
      this.info.email = legal.email || legal.EMAIL;
      this.info.address = legal.addr || legal.ADDR;
      this.info.capital = legal.authcapital || legal.AUTH_CAPITAL;
      this.info.name = legal.acronuz || legal.ACRON_UZ;

      this.info.owner = legal.kfsdescuz || legal.KFS_DESC_UZ;
      this.info.type = legal.kopfdescuz || legal.KOPF_DESC_UZ;
      this.info.target = legal.okeddescuz || legal.OKED_DESC_UZ;

      this.info.subject = legal.soogudescuz || legal.SOOGU_DESC_UZ;

      this.info.company = legal.foundernm1 || legal.FOUNDER_NM1;
      this.info.founder = legal.foundernm3 || legal.FOUNDER_NM3;
    },
  },
};
</script>

<style lang="scss" scoped>
.info-card {
  width: 100%;
  height: min-content;
  .info-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
  }

  .info {
    margin-top: 20px;
    &-key {
      font-size: 0.9rem;
    }

    &-value {
      font-family: "poppins-bold", "inter-bold";
      // font-weight: bold;
    }
  }
}
</style>
