<template>
  <div class="base-card info-card">
    <h4 class="info-title">{{ model }}</h4>

    <div class="info">
      <p class="info-key">Turi</p>
      <p class="info-value">{{ type }}</p>
    </div>
    <div class="info">
      <p class="info-key">Raqami</p>
      <p class="info-value">{{ number }}</p>
    </div>
    <div class="info">
      <p class="info-key">Ishlab chiqarilgan yili</p>
      <p class="info-value">{{ year }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    model: {
      type: String,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    number: {
      type: String,
      required: true,
    },
    year: {
      type: Number,
      required: true,
    },
  },
};
</script>

<style lang="scss" scoped>
.info-card {
  width: 100%;
  height: min-content;
  .info-title {
    color: var(--primary);
    font-family: "poppins-bold", "inter-bold";
  }

  .info {
    margin-top: 20px;
    &-key {
      font-size: 0.9rem;
    }

    &-value {
      font-family: "poppins-bold", "inter-bold";
      // font-weight: bold;
    }
  }
}
</style>
