<template>
  <div>
    <div class="cars-container" ref="carsContainerRef" v-if="$store.state.type !== 'legal'">
        <CarCard
          v-for="(item, index) of items"
          :key="`card${index}`"
          class="single-car"
          :year="item.year"
          :model="item.model"
          :type="item.type"
          :number="item.number"
        />
    </div>
  </div>
</template>

<script>
export default {
  components: {
    CarCard: () => import('./Card.vue'),
  },
  data() {
    return {
      items: [],
      isLoading: false,
    };
  },
  mounted() {
    if (this.$store.state.type !== 'legal') {
      this.handleData();
    }
  },
  methods: {
    initialize(cars) {
      this.items = cars.map((car) => ({
        year: parseInt(car.YearOfManufacture, 10),
        type: car.AutoType,
        number: car.RegNo,
        model: car.model || car.Model,
      }));
    },
    async handleData() {
      const items = sessionStorage.getItem('cars');
      let cars = [];
      if (items) {
        cars = JSON.parse(items) || [];
      } else {
        const pinpp = sessionStorage.getItem('pinpp');
        const params = {
          pinpp,
        };

        const loader = this.$loading.show();

        const response = await this.$getItems('vlpByPinpp', params);
        loader.hide();
        cars = response?.GetVehicleSocialInfoResult?.Vehicles?.anyType || [];

        if (cars?.Model) {
          cars.model = cars.Model;
        }

        sessionStorage.setItem('cars', JSON.stringify(cars));

        setTimeout(() => {
          loader.hide();
        }, 7000);
      }
      this.initialize(cars);
    },
  },
};
</script>

<style lang="scss" scoped>
.cars-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    .single-car {
        width: 31%;

        @media (max-width: 1200px) {
            width: 45%;
        }

        @media (max-width: 900px) {
            width: 100%;
        }
    }
}
</style>
