<template>
  <div class="home">
    <BaseNavigation class="home-nav"  />

    <router-view class="home-view" />
  </div>
</template>

<script>
import BaseNavigation from '@/components/Navigation.vue';

export default {
  name: 'Home',
  components: {
    BaseNavigation,
  },
};
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  justify-content: space-between;

  &-nav {
    width: 27%;
  }

  &-view {
    width: 70%;
  }

  @media (max-width: 1024px) {
    &-nav {
      width: 40%;
    }

    &-view {
      width: 55%;
    }
  }

  @media (max-width: 675px) {
    flex-wrap: wrap;
    gap: 20px;
    &-nav {
      width: 100%;
    }

    &-view {
      width: 100%;
    }
  }
}
</style>
