<template>
  <main class="container">
    <router-view style="margin: 40px 0;" />
  </main>
</template>

<script>
export default {
  mounted() {
    setTimeout(() => {
      if (this.$route.path.includes('home')) {
        const type = sessionStorage.getItem('type');
        if (type) {
          this.$store.commit('SET_TYPE', type);
        } else {
          this.$router.push('/');
          sessionStorage.clear();
        }

        let legalData = sessionStorage.getItem('legalData');
        let cadastrs = sessionStorage.getItem('cadastrs');

        if (legalData) {
          legalData = JSON.parse(legalData);

          this.$store.commit('SET_LEGAL_DATA', legalData);
        }

        if (cadastrs) {
          cadastrs = JSON.parse(cadastrs);
          this.$store.commit('SET_CADASTRS', cadastrs);
        }
      }
    }, 555);
  },
};
</script>

<style src="@/assets/style/index.css"></style>
